:root{
    --base-color:#F5F5F5;
    --text-color: #000000;
    --primary-color:#8DB48E;
    --secondary-color: #F9F6F3;
    --color-1: #7DA2A9;


    /*font size*/
    --font-size-base:1rem;
    --font-size-lg:1.125rem;
    --font-size-xl:1.5rem;
    --font-size-2xl:2rem;
    --font-size-3xl:3rem;

    /*border radiu*/
    --radius-sm:0.5rem;
    --radius-md:1rem;
    --radius-lg:1.5rem;

    /*padding*/
    --padding-sm:0.5rem;
    --padding-md:1rem;
    --padding-lg:1.5rem;

    /*margin*/
    --margin-sm:0.5rem;
    --margin-md:1rem;
    --margin-lg:1.5rem;

    /*gap*/
    --gap-sm:1rem;
    --gap-md:2rem;
    --gap-lg:3rem



}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    color: var(--secondary-color)!important;
}

body{
    background-color: var(--base-color);
    padding: var(--padding-md);
    font-family:"Poppins", Georgia;
}

/*navigation*/
.navbar {
    background-color: var(--base-color) !important;
    padding: var(--padding-lg);

   }

.nav-link {
    color: var(--text-color) !important;
}
.nav-link:hover{
   color: var(--primary-color) !important;
}

.navbar-brand {
    color: var(--text-color) !important;
}

/*home*/
.flex-container{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    padding: min(2em, 15%);
    margin: var(--margin-lg);
    gap: var(--gap-lg);
    border-radius: var(--radius-md);
    background-color: var(--primary-color);
}
.text-container p{
    font-size: var(--font-size-lg);
    /*font-weight: 450;*/
    gap:3rem;
}

.flex-img{
    max-width:100%;
    border-radius: var(--radius-md);
    object-fit:cover;
    object-position: bottom;

}
.cta-button{
    display: inline-block;
    text-decoration: none;
    background-color: var(--secondary-color);
    border-radius: var(--radius-md);
    padding: .75em 1.25em;
    font-weight: 600;
    color: var(--text-color);
}
.cta-button:hover{
    background-color: var(--color-1);
}

/*Skills Section*/
.skilLs-container{
    background-color: var(--primary-color);
    padding: min(2em, 15%);
    margin: var(--margin-lg);
    border-radius: var(--radius-md);
    text-align: center;
}



/*card container*/
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap-lg);
    padding: var(--padding-md);
}
.card-link{
    border-radius: var(--radius-sm);
    background-color: hsl(121, 20%, 75%);
    padding: var(--padding-sm) var(--padding-md);
    text-decoration: none;
    color: white; /* Changed to white for better contrast on darker bg */
    font-weight: 600;
    /*width:100%;*/
    display: inline-block;
    margin-bottom: var(--margin-md);
}

.card-link:hover {
    background-color: var(--color-1);
    color: var(--text-color);
}

.card{
    border: none;
    border-radius: var(--radius-md);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);


}
.card-title{
    font-weight: 600;
}

/*projects*/
.project-container{

}